src/main/resources/META-INF/sdk-receipt-type3/core_components/infrastructure_messaging_Receipt_1.0.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!-- 
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements. See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership. Sveriges Kommuner och Landsting licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License. You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
 -->
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'
	xmlns:tns='urn:riv:infrastructure:messaging:Receipt:1'
	targetNamespace='urn:riv:infrastructure:messaging:Receipt:1'
	elementFormDefault='qualified' attributeFormDefault='unqualified'
	version='1.0'
	xmlns:pref="http://www.unece.org/cefact/namespaces/StandardBusinessDocumentHeader">
	<xs:import schemaLocation="StandardBusinessDocumentHeader.xsd" namespace="http://www.unece.org/cefact/namespaces/StandardBusinessDocumentHeader"></xs:import>
	<xs:complexType name="ReceiptType">
		<xs:sequence>
            <xs:element name="creationDateTime" type="xs:dateTime" minOccurs="1" maxOccurs="1">
			</xs:element>
            <xs:element name="MessageId" type="xs:string" minOccurs="1" maxOccurs="1">
			</xs:element>
            <xs:element name="refToMessageId" type="xs:string" minOccurs="1" maxOccurs="1">
			</xs:element>
			<xs:element name="receiptCode" type="tns:ReceiptCodeType"
				minOccurs="1" maxOccurs="1">
			</xs:element>
			<xs:element name="Issue" type="tns:IssueType" minOccurs="0"
				maxOccurs="unbounded">
			</xs:element>
			<xs:any namespace="##other" processContents="lax"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>


	<xs:complexType name="ErrorIdType"></xs:complexType>

	<xs:complexType name="ReceiptCodeType">
		<xs:sequence>
			<xs:element name="receiptCode"
				type="tns:code-ReceiptCode-list" minOccurs="1" maxOccurs="1">
			</xs:element>
			<xs:any namespace="##other" processContents="lax"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CVType">
		<xs:annotation>
			<xs:documentation />
		</xs:annotation>
		<xs:sequence>
			<xs:element name="code" type="xs:string" minOccurs="0" />
			<xs:element name="codeSystem" type="xs:string"
				minOccurs="0" />
			<xs:element name="codeSystemName" type="xs:string"
				minOccurs="0" />
			<xs:element name="codeSystemVersion" type="xs:string"
				minOccurs="0" />
			<xs:element name="displayName" type="xs:string"
				minOccurs="0" />
			<xs:element name="originalText" type="xs:string"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>



	<xs:complexType name="IssueType">
		<xs:sequence>
			<xs:element name="severity"
				type="tns:code-IssueSeverity-list" minOccurs="1" maxOccurs="1">
			</xs:element>
			<xs:element name="code" type="tns:code-IssueCode-list"
				minOccurs="1" maxOccurs="1">
			</xs:element>
			<xs:element name="details" type="xs:string" minOccurs="0"
				maxOccurs="1">
			</xs:element>
			<xs:element name="diagnostics" type="xs:string"
				minOccurs="0" maxOccurs="1">
			</xs:element>
			<xs:element name="expression" type="xs:string" minOccurs="0"
				maxOccurs="1">
			</xs:element>
			<xs:any namespace="##other" processContents="lax"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="code-IssueCode-list">
		<xs:restriction base="xs:string">
			<xs:enumeration value="invalid">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Invalid Content
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="structure">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Structural Issue
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="required">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Required element missing
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="value">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Element value invalid
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="invariant">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Validation rule failed
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="security">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Security Problem
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="login">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Login Required
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="unknown">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Unknown User
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="expired">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Session Expired
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="forbidden">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Forbidden
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="suppressed">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Information Suppressed
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="processing">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Processing Failure
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="not-supported">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Content not supported
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="duplicate">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Duplicate
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="multiple-matches">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Multiple Matches
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="not-found">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Not Found
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="deleted">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Deleted
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="too-long">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Content Too Long
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="code-invalid">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Invalid Code
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="extension">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Unacceptable Extension
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="too-costly">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Operation Too Costly
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="business-rule">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Business Rule Violation
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="conflict">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Edit Version Conflict
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="transient">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Transient Issue
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="lock-error">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Lock Error
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="no-store">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						No Store Available
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="exception">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Exception
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="timeout">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Timeout
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="incomplete">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Incomplete Results
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="throttled">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Throttled
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="informational">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Informational Note
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="code-IssueSeverity-list">
		<xs:restriction base="xs:string">
			<xs:enumeration value="fatal">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Fatal
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="error">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Error
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="warning">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Warning
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="information">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Information
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="code-ReceiptCode-list">
		<xs:restriction base="xs:string">
			<xs:enumeration value="OK">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Ok
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ERROR">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Error
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="INFO">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Warning
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>







    <xs:element name="Receipt" type="tns:MessageReceiptType"></xs:element>

    <xs:complexType name="MessageReceiptType">
    	<xs:sequence>
            <xs:element name="standardBusinessDocument" type="pref:StandardBusinessDocumentHeader" minOccurs="1" maxOccurs="1"></xs:element>
            <xs:element name="messageReceipt" type="tns:ReceiptType" minOccurs="1" maxOccurs="1"></xs:element>
            <xs:any namespace="##other" processContents="lax"
				minOccurs="0" maxOccurs="unbounded" />
    	</xs:sequence>
    </xs:complexType>
</xs:schema>